<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2018-2019, FusionAuth, All Rights Reserved
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.fusionauth.api.domain.AuditLogMapper">
  <resultMap id="AuditLog" type="io.fusionauth.domain.AuditLog">
    <id column="id" property="id"/>
    <result column="data" property="dataFromDatabase"/>
    <result column="insert_instant" property="insertInstant"/>
    <result column="insert_user" property="insertUser"/>
    <result column="message" property="message"/>
  </resultMap>

  <select id="count" resultType="int">
    SELECT COUNT(*) FROM audit_logs
    <where>
      <if test="user != null">
        AND LOWER(insert_user) LIKE #{user}
      </if>
      <if test="message != null">
        AND LOWER(message) LIKE #{message}
      </if>
      <if test="oldValue != null">
        <if test="_databaseId == 'mysql'">
          AND LOWER(data ->> '$.oldValue') LIKE #{oldValue}
        </if>
        <if test="_databaseId == 'postgresql'">
          AND LOWER(data::JSONB ->> 'oldValue') LIKE #{oldValue}
        </if>
      </if>
      <if test="newValue != null">
        <if test="_databaseId == 'mysql'">
          AND LOWER(data ->> '$.newValue') LIKE #{newValue}
        </if>
        <if test="_databaseId == 'postgresql'">
          AND LOWER(data::JSONB ->> 'newValue') LIKE #{newValue}
        </if>
      </if>
      <if test="reason != null">
        <if test="_databaseId == 'mysql'">
          AND LOWER(data ->> '$.reason') LIKE #{reason}
        </if>
        <if test="_databaseId == 'postgresql'">
          AND LOWER(data::JSONB ->> 'reason') LIKE #{reason}
        </if>
      </if>
      <if test="start != null">
        AND insert_instant &gt;= #{start}
      </if>
      <if test="end != null">
        AND insert_instant &lt;= #{end}
      </if>
    </where>
  </select>

  <select id="retrieveByCriteria" resultMap="AuditLog">
    SELECT * FROM audit_logs
    <where>
      <if test="user != null">
        AND LOWER(insert_user) LIKE #{user}
      </if>
      <if test="message != null">
        AND LOWER(message) LIKE #{message}
      </if>
      <if test="oldValue != null">
        <if test="_databaseId == 'mysql'">
          AND LOWER(data ->> '$.oldValue') LIKE #{oldValue}
        </if>
        <if test="_databaseId == 'postgresql'">
          AND LOWER(data::JSONB ->> 'oldValue') LIKE #{oldValue}
        </if>
      </if>
      <if test="newValue != null">
        <if test="_databaseId == 'mysql'">
          AND LOWER(data ->> '$.newValue') LIKE #{newValue}
        </if>
        <if test="_databaseId == 'postgresql'">
          AND LOWER(data::JSONB ->> 'newValue') LIKE #{newValue}
        </if>
      </if>
      <if test="reason != null">
        <if test="_databaseId == 'mysql'">
          AND LOWER(data ->> '$.reason') LIKE #{reason}
        </if>
        <if test="_databaseId == 'postgresql'">
          AND LOWER(data::JSONB ->> 'reason') LIKE #{reason}
        </if>
      </if>
      <if test="start != null">
        AND insert_instant &gt;= #{start}
      </if>
      <if test="end != null">
        AND insert_instant &lt;= #{end}
      </if>
    </where>
    <if test="orderBy != null">
      ORDER BY ${orderBy}
    </if>
    <if test="numberOfResults != null">
      LIMIT #{numberOfResults}
    </if>
    <if test="startRow != null">
      OFFSET #{startRow}
    </if>
  </select>
</mapper>