<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2018-2019, FusionAuth, All Rights Reserved
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.fusionauth.api.domain.SystemConfigurationMapper">
  <resultMap id="SystemConfiguration" type="io.fusionauth.domain.SystemConfiguration">
    <result property="dataFromDatabase" column="data"/>
    <result property="reportTimezone" column="report_timezone"/>
  </resultMap>
</mapper>