<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <encoder>
      <pattern>%d{"yyyy-MM-dd hh:mm:ss.SSS a"} %-5level %logger{75} - %msg%n</pattern>
    </encoder>
    <file>${fusionauth.log.directory}/fusionauth-app.log</file>
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${fusionauth.log.directory}/fusionauth-app.%i.log.gz</fileNamePattern>
      <maxIndex>10</maxIndex>
      <minIndex>1</minIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE"/>
  </root>

<!--  <logger name="io.fusionauth.account.service.deployment.tasks.BaseSaltStackTask" level="DEBUG" additivity="false">-->
<!--    <appender-ref ref="STDOUT"/>-->
<!--  </logger>-->

  <!--<logger name="com.inversoft.website.mappers.InstanceMapper" level="DEBUG" additivity="false">-->
    <!--<appender-ref ref="STDOUT"/>-->
  <!--</logger>-->
</configuration>