[Unit]
Description=A Letsgo Trip Server
After=syslog.target

[Service]
ExecStart=java -jar /home/letsgo/trip-service/target/trip-service-1.0.0.jar SuccessExitStatus=143

[Install] 
WantedBy=multi-user.target