[Unit]
Description=A Gateway Server
After=multi-user.target

[Service] 
ExecStart=java -jar /home/letsgo/gateway-service/target/gateway-service-1.0.0.jar SuccessExitStatus=143

[Install] 
WantedBy=multi-user.target